# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Generated data (optional)
output/
data/

# OS files
.DS_Store
Thumbs.db